Source: kompozer
Section: web
Priority: optional
Maintainer: Tony Yarusso <tonyyarusso@ubuntu.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: kompozer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Complete Web Authoring System
  .
  KompoZer is a complete Web Authoring System that 
  combines web file management and easy-to-use WYSIWYG 
  (What You See Is What You Get) web page editing.
  .
  KompoZer is designed to be extremely easy to use,
  making it ideal for non-technical computer users
  who want to create an attractive, professional-looking 
  web site without needing to know HTML or web coding.
  .
  For more details look at http://kompozer.sourceforge.net
