#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
ndir=$(CURDIR)/debian/install
kdir=$(CURDIR)/debian/kompozer

build: build-stamp  

build-stamp:  
	dh_testdir

	# Add here commands to compile the package.
	
	@echo "bunzipping the source :)"
	if [ ! -d mozilla ]; then tar xjf ../kompozer*tar.gz; fi
	#patch -p0 < debian/patches/amd64.patch
	cp debian/mozconfig.debian mozilla/.mozconfig
	cd mozilla && $(MAKE) -f client.mk build_all

	touch build-stamp

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	if [ -d mozilla ]; then rm -rf mozilla; fi
	rm -rf $(ndir)
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 

	# Add here commands to install the package into debian/kompozer.
	#if [ ! -d debian/tmp ]; then mkdir -p $(ndir); cd mozilla && $(MAKE) install DESTDIR=$(ndir); fi
	mkdir -p $(ndir)
	cd mozilla && $(MAKE) install DESTDIR=$(ndir)

	# remove all empty directories
	perl -MFile::Find -e"finddepth(sub{rmdir},'$(ndir)')"

	# ------------------------------------------------#
	#        kompozer (binary)                        #
	# ------------------------------------------------#

	# remove internal myspell directory and myspell dicts
	# dh_install symlinks it to /usr/share/myspell where all myspell-* dicts place their stuff
	rm -rf $(ndir)/usr/lib/kompozer/components/myspell
	
	# remove exec bit from .js files to prevent lintian warnings
	chmod -x $(ndir)/usr/lib/kompozer/components/*.js

	# ------------------------------------------------#
	#        kompozer-dev (development files)         #
	# ------------------------------------------------#

	mkdir -p $(kdir)-dev/usr/{lib,share}
	cp -r $(ndir)/usr/include       $(kdir)-dev/usr/
	cp -r $(ndir)/usr/lib/pkgconfig $(kdir)-dev/usr/lib/
	cp -r $(ndir)/usr/share/aclocal $(kdir)-dev/usr/share/
	cp -r $(ndir)/usr/share/idl     $(kdir)-dev/usr/share/

	dh_installdirs
	dh_install
	dh_link
	
binary-indep: build install
#We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs -a
	dh_installdocs -a
	dh_installexamples -a
# dh_installmenu -a
#	dh_installdebconf	
	dh_installman -a
	dh_link -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
